#Linux
*~

#Mac OS X
.DS_Store

# Maven
target/

# Java
*.class
*.jar
*.war

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# eclipse
bin/
.classpath
.settings/
.project
.factorypath
.metadata

*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
